.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2em;
}

.heading {
  display: flex;
  align-items: center;
  margin-bottom: 0 !important;
}

.actions button {
  margin-left: 0.5em;
}
