.root {
  display: flex;
  flex-direction: column;
  flex: 1;
}
.fieldset {
  border: 0;
  margin: 0 0 1.5em;
  padding: 0;
}

.legend {
  display: block;

  border-bottom: 1px solid rgba(0,0,0,0.12);
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
  width: 100%;

  color: #818181;
  font-size: 0.8em;
  font-weight: 700;
  text-transform: uppercase;
}

.radioDescription {
  font-size: .8em;
  color: #6e798b;
}

.radioLabel {
  display: flex;
  align-items: center;
  margin-bottom: .5em;
  font-size: 1em;
  font-weight: 700;
}

.radioBody {
  margin-left: 1em;
}
